<form id="form-filter" class="form-inline" method="get" action="{{ action }}" enctype="application/x-www-form-urlencoded">
    <input class="form-control" style="display: flex; flex-grow: 1;" id="filter" type="search" value="{{ selectedValue }}" name="{{ filterValueName }}" placeholder="{{ 'input.help_filter' | trans }}" />

    {% if fields|length > 1 %}
        <select class="custom-select" name="{{ filterFieldName }}">
            {% for field, label in fields %}
                <option value="{{ field }}"{% if selectedField == field %} selected="selected"{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    {% else %}
        <input type="hidden" name="{{ filterFieldName }}" value="{{ fields|keys|first }}" />
    {% endif %}

    <div class="col-auto mb-2">
        <div class="btn-group" role="group" aria-label="Filter actions">
            <button class="btn btn-primary">{{ options.button }}</button>
            <button class="btn btn-secondary" onclick="document.getElementById('filter').value=null; document.getElementById('form-filter').submit();  return false;" type="reset"><i class="fa fa-refresh"></i> {{ 'button.reset' | trans }}</button>
        </div>
    </div>
</form>
