{% extends "new-ui/base.html.twig" %}

{% block hero %}
    {{ 'app.payoff' | trans({}, APP_CUSTOM_TRANSLATION) | raw }}
{% endblock %}

{% block content %}
    <ul
        class="md:grid md:grid-cols-3 md:gap-x-8 md:gap-y-10 space-y-16 sm:space-y-0"
    >
        <li>
            <div class="ml-4">
                <h4 class="text-lg tleading-6 font-bold text-gray-900">
                    {{ 'info.what_is' | trans }}
                </h4>
                <p class="mt-2 text-base leading-6 text-gray-500">
                    {{ 'description.what_is' | trans({'%value%': APP_NAME}) }}
                </p>
            </div>
        </li>
        <li>
            <div class="ml-4">
                <h4 class="text-lg leading-6 font-bold text-gray-900">
                    {{ 'info.how_works' | trans }}
                </h4>
                <p class="mt-2 text-base leading-6 text-gray-500">
                    {{ 'description.how_works' | trans({'%value%': APP_IDP_NAME}) }}
                </p>
            </div>
        </li>
        <li>
            <div class="ml-4">
                <h4 class="text-lg leading-6 font-bold text-gray-900">
                    {{ 'info.security' | trans }}
                </h4>
                <p class="mt-2 text-base leading-6 text-gray-500">
                    {{ 'description.security' | trans }}
                </p>
            </div>
        </li>
    </ul>
{% endblock %}
