<div class="row">
    <div class="col-md-12 mb-4">
        <h2 class="mb-3">{{ 'title.shorten_link'|trans }}</h2>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <input type="hidden" name="_token" value="{{ csrf_token('create-form') }}">
            {% do form.label.setRendered %}

            <div class="mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map-signs SURForanje"></i></span>
                    </div>
                    {{ form_widget(form.longUrl) }}
                    {{ form_errors(form.longUrl) }}
                </div>
                {% if form.shortUrl is defined %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ APP_BASEDOMAIN }}/</span>
                        </div>
                        {{ form_widget(form.shortUrl) }}
                        {{ form_errors(form.shortUrl) }}
                    </div>
                {% endif %}

            </div>

            <hr class="mb-3">

            <button class="btn btn-primary btn-lg btn-block SCknop" type="submit">{{ 'button.shorten_it'|trans }}</button>
        {{ form_end(form) }}
    </div>
</div>
