
<table class="table table-hover table-striped table-sm tableverstop">
    <thead>
    <tr>
        <th style="width: 125px;" scope="col">{{ 'title.actions'|trans }}</th>
        <th style="width: 65px;" scope="col">{{ 'title.clicks'|trans }}</th>
        <th style="width: 110px;" scope="col">{{ 'title.shortened'|trans }}</th>
        <th style="width: 105px;" scope="col">{{ 'title.date'|trans }}</th>
        {% if is_admin is defined %}<th width="60px" scope="col">{{ 'title.owner'|trans }}</th>{% endif %}
        <th scope="col">{{ 'title.original_link'|trans }}</th>
    </tr>
    </thead>
    <tbody data-test="links">
    {% for url in pagination %}
        {% set shorturlshort = APP_URLDOMAIN ~ '/' ~ url.shortUrl %}
        {% set shorturlfull = APP_BASEDOMAIN ~ '/' ~ url.shortUrl %}
        {% set disablebutton = url.deleted and not is_admin is defined ? 'disabled':'' %}
        <tr {% if url.deleted %}class="deleted"{% endif %}>
            <td>
                {% if not disablebutton %}
                    <button class="fabutton actieknop cpy" type="button" data-clipboard-text="{{ shorturlfull }}" data-toggle="tooltip" data-original-title="{{ 'tooltip.copy_url'|trans }}" aria-label="{{ 'tooltip.copy_url_ext'|trans({'%shorturlshort%': shorturlshort}) }}">
                        <i class="fa fa-clipboard beetjezwart"></i>
                    </button>
                    <a href="{{ path('app_manage_edit', {'shortUrl': url.shortUrl}) }}" {{ disablebutton }} class="actieknop fabutton" data-toggle="tooltip" data-original-title="{{ 'tooltip.edit_url'|trans }}" aria-label="{{ 'tooltip.edit_url_ext'|trans({'%shorturlshort%': shorturlshort}) }}">
                        <i class="fa fa-edit SCblauw"></i>
                    </a>
                    <a href="{{ path('preview', {'req': url.shortUrl ~ '+' }) }}" {{ disablebutton }} class="actieknop fabutton" data-toggle="tooltip" data-original-title="{{ 'tooltip.show_qr'|trans }}" aria-label="{{ 'tooltip.show_qr_ext'|trans({'%shorturlshort%': shorturlshort}) }}">
                        <i class="fa fa-qrcode SCblauw"></i>
                    </a>
                    <form style="display: inline-block" action="{{ url('app_manage_delete', {shortUrl: url.shortUrl}) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}">
                        <button type="submit" name="delete" class="actieknop fabutton" data-toggle="confirmation" data-title="{{ 'tooltip.remove_url'|trans({'%shorturlshort%': shorturlshort}) }}" aria-label="{{ 'tooltip.remove_url'|trans({'%shorturlshort%': shorturlshort}) }}">
                            <i class="fa fa-trash-alt SURForanje" title="{{ 'tooltip.remove_url'|trans({'%shorturlshort%': shorturlshort}) }}"></i>
                        </button>
                    </form>
                {% endif %}
            </td>
            <th scope="row">{{ url.clicks }}</th>
            <td>{% if not url.deleted %}<a target="_blank" href="{{ shorturlfull }}">{{ shorturlshort }}</a>{% else %}{{ shorturlshort }}{% endif %}</td>
            <td>{{ url.created|date("Y-m-d") }}</td>
            {% if is_admin is defined %}
                <td class="small">
                    {{ url.owner }}
                </td>
            {% endif %}
            <td class="text-truncate telang"><a href="{{ url.longUrl }}" target="_blank"><i class="fa fa-external-link-alt SURForanje" aria-label="{{ 'tooltip.visit_long_url' | trans({'%longurl%': url.longUrl}) }}"></i></a> {{url.longUrl }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
