{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - About{% endblock %}

{% block body %}
    <h4 class="mt-3 mb-3">Wat is {{ APP_NAME }}?</h4>

        <p>Met {{ APP_NAME }} kun je een willekeurige lange URL korter maken. Je kunt een link aanmaken die begint met {{ APP_URLDOMAIN }}. Gebruik deze korte link waar lange URL's onhandig zijn, zoals in presentatie-slides of drukwerk en op sociale media.</p>

        <p>De korte links hebben de vorm {{ APP_URLDOMAIN }}/<i>code</i> en verlopen niet.</p>

        <p>{{ APP_NAME }} is kosteloos te gebruiken door alle studenten, medewerkers en onderzoekers van instellingen die bij SURF zijn aangesloten.</p>

    <h4 class="mb-3">{{ APP_NAME }}: respect voor privacy</h4>
        <p>{{ APP_NAME }}:
        <ul>
        <li> is veiliger en privacy-vriendelijker dan commerciële alternatieven.
            Dankzij SURFconext kunnen alleen geautoriseerde
            personen uit het Nederlandse hoger onderwijs en onderzoek links aanmaken. Zo voorkomen we misbruik.</li>
        <li> slaat geen persooonlijke gegevens op. Via SURFconext ontvangt {{ APP_NAME }}
            alleen een <a href="https://support.surfconext.nl/help-nameid">persistent pseudoniem</a>.</li>
        <li> houdt alleen het totale aantal kliks bij en trackt bezoekers niet.</li>
        <li>gebruikt <a href="https://internet.nl/site/edu.nl/377653/">moderne webstandaarden</a>.</li>
        </ul>

        <p>Alle details en informatie over je rechten vind je in onze <a href="{{ path('app_info_privacy') }}">privacy-verklaring</a>.</p>

    <h4 class="mb-3">Support en contact</h4>

        <p>Wil je weten hoe je een link aanmaakt of heb je een vraag? Kijk dan op de <a href="{{ path('app_info_support') }}">support-pagina</a>.</p>

        <p><a href="{{ path('app_info_index') }}">Terug naar {{ APP_URLDOMAIN }}</a></p>
{% endblock %}
