{%
    set parameters = {
    'app_name': APP_NAME,
    'app_urldomain': APP_URLDOMAIN,
    'app_idp_name': APP_IDP_NAME,
    'app_info_privacy': path('app_info_privacy'),
    'app_info_support': path('app_info_support'),
}
%}

{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'menu.about' | trans }}{% endblock %}

{% block body %}
    {{ 'info.about' | trans(parameters, APP_CUSTOM_TRANSLATION ) | raw }}

    <p><a href="{{ path('app_info_index') }}">{{ 'button.back_to' | trans({'%value%': APP_URLDOMAIN}) }}</a></p>
{% endblock %}

