{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-
	{{ 'app.payoff' | trans({}, APP_CUSTOM_TRANSLATION) | striptags }}
{% endblock %}

{% block body %}
	<div class="row justify-content-center">
		<div class="col-sm-4 mb-4 text-center">
			{{ 'text.to_create_link'|trans }}<br>
			<a href="{{ path('app_manage_index') }}" class="btn btn-primary btn-lg btn-block mt-2 SCknop">
				<i class="fas fa-sign-in-alt"></i>
				{{ 'button.login'|trans({'%value%': APP_IDP_NAME}) }}</a>
		</div>
	</div>

	<div class="row mt-3 justify-content-center">
		<div class="col-sm-4">
			<p>
				<span class="font-weight-bold">
					{{ 'info.what_is' | trans }}
				</span><br>
				{{ 'description.what_is' | trans({'%value%': APP_NAME}) }}
			</p>
		</div>
		<div class="col-sm-4">
			<p>
				<span class="font-weight-bold">{{ 'info.how_works' | trans }}</span><br>
				{{ 'description.how_works' | trans({'%value%': APP_IDP_NAME}) }}
			</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-sm-4">
			<p>
				<span class="font-weight-bold">{{ 'info.security' | trans }}</span><br>

				{{ 'description.security' | trans }}
				<a href="{{ path('app_info_about') }}">
                {{ 'info.read_more' | trans }}
                </a>
			</p>

		</div>

		<div class="col-sm-4">
			<p>
                <span class="font-weight-bold">{{ 'info.support' | trans }}</span><br>

                {{ 'description.support' | trans({'%value%': APP_NAME}) }}

                <a href="{{ path('app_info_support') }}">
                    {{ 'info.go_to_support' | trans }}
                </a>
			</p>
		</div>

	</div>
{% endblock %}
