{% extends 'base.html.twig' %}

{% block title %}{{ 'title.edit' | trans({'%parent%': parent()}) }}{% endblock %}

{% block body %}

    {% set shorturlshort = APP_URLDOMAIN ~ '/' ~ short_url.shortUrl %}
    {% set shorturlfull = 'https://' ~ shorturlshort %}

    <div class="row">
        <div class="col-md-12 mb-4">
            <h4 class="mb-3">{{ 'title.edit_link' | trans({'%shorturlshort%': shorturlshort}) }}</h4>
            {{ form_start(form) }}
                <input type="hidden" name="_token" value="{{ csrf_token('edit-form') }}">
                <input type="hidden" name="url" value="{{ short_url.shortUrl }}">
                <div class="mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-map-signs SURForanje"></i></span>
                        </div>
                        {{ form_widget(form.longUrl) }}
                        {{ form_errors(form.longUrl) }}
                    </div>
                </div>
                <hr class="mb-3">
                <button class="btn btn-primary btn-lg btn-block SCknop" type="submit">{{ 'action.modify' | trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
