{% extends 'base.html.twig' %}

{% block title %}{{ 'title.created' | trans({'%parent%': parent()}) }}{% endblock %}

{% block body %}

    {% set shorturlshort = APP_URLDOMAIN ~ '/' ~ short_url.shortUrl %}
    {% set shorturlfull = APP_BASEDOMAIN ~ '/' ~ short_url.shortUrl %}

    <div class="row">
        <div class="col-md-12 mb-3">
            <h2 class="mb-3 rotating-css">{{ 'title.new_link_created' | trans }}</h2>
            <hr class="mb-3">
            <div class="row">
                <div class="col-md-6">
                    {{ 'title.new_link_is' | trans }}<br/>
                    <b>{{ shorturlfull }}</b><br/><br/>

                    {{ 'title.link_refers_to' | trans }}<br/>
                    <b>{{ short_url.longUrl }}</b><br/><br/>

                    {{ 'title.test_link' | trans }}<br/>
                    <a href="{{ shorturlfull }}" target="_blank"><i class="fa fa-external-link-alt SURForanje"></i> {{ shorturlfull }}</a><br/><br/>

                    {{ 'title.copy_link' | trans }}<br/>
                    <a href="#" class="cpy" data-clipboard-text="{{ shorturlfull }}"><i class="fa fa-copy beetjezwart"></i> {{ 'action.copy' | trans }} </a><br/><br/>

                    <label for="labelfield">{{ 'title.label_link' | trans }}</label><br/>
                    {{ form_start(form, {'action': path('app_manage_edit', {'shortUrl': short_url.shortUrl}), 'attr': {'class': 'form-inline' }}) }}
                        <input type="hidden" name="_token" value="{{ csrf_token('edit-form') }}">
                        <input type="hidden" name="{{ field_name(form.longUrl) }}" value="{{ field_value(form.longUrl) }}">
                        {% do form.longUrl.setRendered %}
                        <input type="text" id="labelfield" name="{{ field_name(form.label) }}" value="{{ field_value(form.label) }}"
                            placeholder="{{ field_label(form.label) }}" class="form-control form-control-sm" required maxlength="255">
                        <button type="submit" class="btn btn-sm btn-secondary"><i class="fas fa-save"></i></button>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-6"><div class="qrimage">
                    <img class="mx-auto d-block" src="/{{ short_url.shortUrl }}~" alt="{{ 'qr_code.alt_message' | trans({'shorturlshort': shorturlshort}) }}">
                    <small>[
                    {% for format in ['svg','pdf','eps','png'] %}
                        {{ loop.first ? '' : '|' }}
                        <a href="/{{ short_url.shortUrl }}~?format={{ format }}">{{ format }}</a>
                    {% endfor %}
                    ]</small>
                </div></div>
            </div>
            <hr class="mb-3">
            <a class="btn btn-primary btn-lg btn-block SCknop" href="{{ path('app_manage_index') }}">{{ 'action.back_to_overview' | trans }}</a>
        </div>
    </div>

{% endblock %}
