{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - stats{% endblock %}

{% block body %}

  <h3 class="mb-3">Stats</h3>

<h4>Allertijden</h4>
<p>Totaal aantal links: {{ stats.total.cnt }}<br>
Totaal aantal kliks: {{ stats.total.clk }}<br>
Aantal unieke gebruikers: {{ stats.total.uniqueusers }}<br>
</p>

<h4>Periode</h4>
<form>
Periode van <input type="date" name="van" value="{{ van ?? '' }}">
tot <input type="date" name="tot" value="{{ tot ?? '' }}"> (inclusief).
<input type="submit">
</form>

{% if van %}
  <p>Links aangemaakt deze periode: {{ stats.period.cnt }}<br>
  Kliks op links aangemaakt in deze periode: {{ stats.period.clk }}<br>
  Aantal unieke gebruikers die een link aanmaakten deze periode: {{ stats.period.uniqueusers }}<br>
  </p>
{% endif %}


{% endblock %}
