{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - preview{% endblock %}

{% block body %}

  {% set shorturlshort = APP_URLDOMAIN ~ '/' ~ short %}
  {% set shorturlfull = 'https://' ~ shorturlshort %}

  <div class="row justify-content-center">
      <div class="col-sm">
      </div>
       <div class="col-sm-6 mb-4">
           <h2 class="mb-1">{{ shorturlshort }}</h2>
           <div class="text-muted"><small>Aangemaakt {{ created | date('Y-m-d') }}{% if updated is not null %}, aangepast {{ updated | date('Y-m-d') }}{% endif %}</small></div>

           <div class="mt-4">De korte link <code>{{ shorturlshort }}</code> verwijst naar:</div>

           <div class="m-2"><code>{{ long }}</code></div>

           <div><a href="{{ shorturlfull }}" class="btn btn-primary btn-lg mt-4 SCknop"><i class="fas fa-external-link-alt"></i>
               Doorgaan naar {{ shorturlshort }}</a></div>
      </div>
      <div class="col-sm">
       <img src="/{{ short }}~" alt="qr-code for {{ shorturlshort }}">
      </div>
  </div>

{% endblock %}
